.HeaderMenu {
	display: inline-block;
	margin: 10px 25px 10px 25px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.75em;
	text-transform: uppercase;
	float: right;
}

#TPlogo {
	display: block;
	clear: both;
	margin: auto;
	padding: 20px;
}

.styledSelect select {
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   font-family: Helvetica, Arial, sans-serif;
   }

.styledSelect {
   width: 230px;
   height: 30px;
   overflow: hidden;
   background: url(img/dropdown_arrow.png) no-repeat right #ffffff;
   border: 2px solid black;
   margin: auto;
   margin-top: 10px;
   }

.timeZoneBoxes {
	margin: auto;
	margin-top: 50px;
	max-width: 700px;
	text-align: center;
}

.timeZoneFlag {
	display: inline-block;
	vertical-align: top; 
	height: 200px;
	width: 150px;	
	margin: 10px;
}

.timeTextBox {
	height: 150px;
	width: 150px;
} 

.triangle {
	width: 0;
	height: 0;
	border-left: 75px solid transparent;
	border-right: 75px solid transparent;
	border-bottom: 50px solid white;
}

.realTimeFlag {
	background-color: black;
	color: white;
}

.emptyTimeFlag {
	background-color: #C0C0C0;
}

.timestamp {
	margin:auto;
	padding-top: 30px;
	font-family: Bebas Neue, Helvetica, Arial, sans-serif;
	font-size: 1.75em;
}

.locationstamp {
	margin: auto;
	padding-top: 20px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.9em;
	text-transform: uppercase;
}